#h1{ 
      text-align: center;
      background-color: rgb(244, 246, 246); 
      padding-top: 10px;
      padding-bottom: 10px; }


 #d1{  background-color: rgb( 244, 246, 246 ); 
       padding-top: 20px;
       padding-bottom: 10px; }

#h3{ text-align: center;  }



#l1{  margin-left: 635px; }

#l2{ margin-left: 635px;  }

#l3{  margin-left: 635px; }

#l4{  margin-left: 635px; }

#l5{ margin-left: 635px;  }

#l6{ margin-left: 635px;  }

#l7{ margin-left: 635px;  }

#l8{ margin-left: 635px;  }

#l9{ margin-left: 635px;  }

#l10{ margin-left: 635px; }

#l11{ margin-left: 635px; }

#l12{ margin-left: 635px; }

#l13{ margin-left: 635px; }

#l14{ margin-left: 635px; }

#l15{ margin-left: 635px; }

#l16{ margin-left: 635px; }


#p5{  margin-left: 660px;}


#k6{ margin-left: 530px; }
#u1{ color: darkslateblue;}

#k7{  margin-left: 700px;}


































